# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history

.idea

/doc/examples
config/database.yml
config/private_pub.yml

# Ignore uploaded files
/public/system
/public/tmp
/public/uploads
/public/spec

# Mac OS files
.DS_Store

# coverage files
/coverage

.powrc

*.sublime-project
*.sublime-workspace
certs/

.yardoc
.powenv

# Ignore application configuration
/config/application.yml
.zeus.sock

dump.rdb
config/*.sphinx.conf
db/sphinx